certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.7
django-allauth==0.40.0
django-countries==5.5
django-crispy-forms==1.8.1
django-heroku==0.3.1
django-mysql==3.2.0
-e git+https://github.com/gbozee/django-paystack.git@fd2d44767e4c3531add523181eda8001c5ef6170#egg=django_paystack
future==0.18.2
gunicorn==20.0.4
h11==0.8.1
h2==3.1.1
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.8
mysqlclient==1.4.4
oauthlib==3.1.0
Paperboy==1.0.1
Pillow==6.2.1
psycopg2==2.8.4
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-async==0.6.2
requests-oauthlib==1.3.0
rfc3986==1.3.2
simplejson==3.17.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
whitenoise==4.1.4
