{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Payment</title>
{% endblock head %}

{% block content %}


    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
      <div class="container">
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <div class="order_box">



                <form method="POST">

                    <script src="{{js_url}}"></script>

                    <button class="{{button_class}}" id="{{button_id}}" type="button" onclick="payWithPaystack()"> Pay Now</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

{% endblock %}

{% block extra_scripts %}
    <script>
        function payWithPaystack() {
            var handler = PaystackPop.setup({
                key: '{{key}}',
                email: '{{email}}',
                amount: {{amount }},
        callback: function (response) {
            window.location.href = "{{redirect_url}}&trxref=" + response.trxref
        }
            });
        handler.openIframe();
        }
    </script>
{% endblock %}

