{% extends 'main/base.html' %}
{% load static %}
{% load humanize %} <!-- "load humanize" makes numbers to have commas -->
{% block head %}
    <title>Products</title>
  {% endblock head %}
{% block content %}


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Details</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="product_detail.html">Product Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
                    <img
                      class="d-block w-100"
                      src="{{ item.image.url }}"
                      alt=""
                    />
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{ object.title }}</h3>
              <h2>
                  {% if object.discount_price %}
                  <span class="mr-1">
                    <del>&#x20A6; {{ object.price|intcomma }}</del>
                  </span>
                  <span>&#x20A6; {{ object.discount_price|intcomma }}</span>
                  {% else %}
                  <span>&#x20A6; {{ object.price|intcomma }}</span>
                  {% endif %}
              </h2>
              <ul class="list">
                <li>
                  <a class="active" style="pointer-events: none; cursor: default;">
                    <span>Category </span> : {{ object.get_category_display }}</a
                  >
                </li>
                  {% if object.availability %}
                  <li>
                  <a class="active" style="pointer-events: none; cursor: default;">
                    <span>Availability </span> : In stock</a>
                </li>
                  {% else %}
                  <li>
                  <a class="active" style="pointer-events: none; cursor: default;" href="#">
                    <span>Availability </span> : Out of stock</a>
                </li>
                  {% endif %}

              </ul>
              <div>
                  <pre> {{ object.description|linebreaks }} </pre>
              </div>
                {% if item.availability %}
              <div class="card_area">
                <a class="main_btn btn btn-success" href="{{ object.get_add_to_cart_url }}">Add to cart
                    <i class="fa fa-shopping-cart ml-1"></i>
                </a>
                <a class="main_btn btn btn-danger" href="{{ object.get_remove_from_cart_url }}">Remove from cart</a>
              </div>
                {% else %}
                <div class="card_area">
                <a style="pointer-events: none; cursor: default;" class="main_btn btn btn-success" href="{{ object.get_add_to_cart_url }}">Add to cart
                    <i class="fa fa-shopping-cart ml-1"></i>
                </a>
                <a  style="pointer-events: none; cursor: default;" class="main_btn btn btn-danger" href="{{ object.get_remove_from_cart_url }}">Remove from cart</a>
              </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->
    <br>
{% endblock %}